* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.header h1 {
  margin: 20px 5px;
}

.header ul {
  display: flex;
  list-style: none;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.header ul li {
  margin-right: 30px;
  color: white;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer {
  margin-top: auto;
  height: 200px;
  background-color: brown;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* design two */
.wrapper2 {
  display: flex;
  height: 100vh;
}

.nav {
  flex-grow: 1;
  background-color: azure;
}

.content {
  flex-grow: 3;
}
.nav ul {
  list-style: none;
  padding: 5px;
}

.nav li {
  margin-bottom: 10px;
}

.active {
  color: red !important;
}
.header .active{
  color: red;
  font-size: bold !important;
}